.right_side{
	float:left;
	background: #06222E;
	width: 35%;
	padding: 0 40px;
	height: 100%;
	text-align: center;
}
.right_side_info_block{
	padding: 40px 0;
	text-align: center;
}
.right_side_info_img{
	padding-bottom: 30px;
}
.right_side_info_block_text_1{
	font-family: 'mullerbold';
	font-size: 25pt;
	color: rgb(255,255,255);
	display: block;
}
.right_side_info_block_text_2{
	font-family: 'mullerthin';
	font-size: 35pt;
	color: rgb(255,255,255);
	display: block;
}
.right_side_info_block_text_3{
	font-family: 'mullerultralight';
	font-size: 15pt;
	color: rgb(255,255,255);
	display: block;
}
.right_side_button_block{
	width: 70%;
	display: table;
  margin: 0 auto;
  padding-bottom: 100px;
}
.button_resive{
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 15px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 2px;
    background-color: green;
	text-align: center;
}
.button_confirm{
	background-color: #00FFEB;
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 15px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 2px;
	text-align: center;
	display: table;
	  margin: 0 auto;
	  width: 200px;
}
.right_side_tr_history_block{
	text-align: center;
}
.right_side_tr_history_text_1{
	font-family: "mullerthin";
	font-size: 18pt;
	color: rgb(255,255,255);
	padding-bottom: 50px;
}
.right_side_wrapp_tr_history{
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
	border-bottom-width: 1px;
}
.right_side_tr_history_item{
	display: inline-block;
	padding-right: 5%;
}
.right_side_tr_history_link{
	text-decoration: none;
	font-family: "mullerthin";
	font-size: 14pt;
	color: rgb(255,255,255);
}
.right_side_tr_history_link:hover{
	text-decoration: underline;
	padding-top: 20px;
}
.right_side_tr_history_list{
	margin-top: 20px;
}
.right_side_tr_hisotry_item{
	display: block;
	padding-bottom: 30px;
}

.tr_history_up{
	background-image: url('../../assets/images/icons/arrow_up.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
	text-align: left;
	padding: 5px 50px;
	font-family: 'mullerbold';
	font-size: 15pt;
	color: green;
}
.tr_history_down{
	background-image: url('../../assets/images/icons/arrow_down.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 20px;
	text-align: left;
	padding: 5px 50px;
	font-family: 'mullerbold';
	font-size: 15pt;
	color: green;
}
.tr_history_address{
	font-family: 'mullerthin';
	font-size: 12pt;
	color: rgb(255,255,255);
}
.tr_history_date{
	font-family: 'mullerthin';
	font-size: 10pt;
	color: rgb(255,255,255);
}
.right_side_confirm_transaction{
	padding: 50px 0;
	width: 100%;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
}
.text_send_transaction{
	padding-top: 30px;
	color: rgb(255,255,255);
    font-family: "mullerbold";
    font-size: 18pt;
}