.central_side_menu_item{
	text-align: center;
	text-decoration: none;
	list-style: none;
	display: block;
}
.central_side_menu_item_active{
	background-color: #06222E;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
.central_side_menu_item_right{
	float: right;
	text-align: center;
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 20px;
}
.central_side_menu_button_red{
	display: block;
	text-decoration: none;
    color: rgb(255,255,255);
    padding: 5px 35px;
    font-family: "mullerthin";
    font-size: 12pt;
    position: relative;
    border-radius: 15px;
    background-color: red;
	text-align: center;
	background-image: url('../../../assets/images/icons/arrow_up_white.png');
    background-repeat: no-repeat;
	background-position: left;
	background-position-x: 15px;
}
.central_side_menu_button_select{
	font-family: "mullerthin";
	padding: 40px 40px 40px 30px;
	font-size: 10pt;
	color: #06FFEC;
	text-decoration: none;
	background-image: url('../../../assets/images/icons/arrow-right.png');
    background-repeat: no-repeat;
	background-position: right;
	display: block;
}
.central_side_menu_item_left{
	float: left;
	text-align: center;
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 20px;
}
.central_side_menu_item_text_1{
	display: inline;
	text-transform:uppercase;
	color: rgb(255,255,255);
	font-family: 'mullerbold';
	font-size: 25pt;
}
.central_side_menu_item_text_2{
	display: block;
	color: rgb(255,255,255);
	font-family: 'mullerlight';
	font-size: 15pt;
	width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.central_side_menu_item_text_3{
	display: block;
	color: rgb(255,255,255);
	font-family: 'mullerlight';
	font-size: 10pt;
}